  body {
    background-color: #6600cc;
  }
  #content {
    width: 50%;
    margin: auto;
    font-size: 34px;
    border: 30px solid blue;
    text-shadow: 2px 2px blue;
  }
  #headerBox {
    background-color: #6600cc;
    height: 200px;
    text-align: center;
    font-size: 100px;
    font-style: italic;
    text-shadow: 2px 2px blue;
  }
  #menuBox {
    background-color: #0000FF;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  #backBox {
    background-color: #0000FF;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    font-size: 50px;
    margin-left: 400px;
    margin-right: 400px;
  }
  a {
    color: #FFFFFF;
  }
  .linkBox {
    height: 100px;
    display: inline;
    padding: 30px;
    font-size: 75px;
    border: 5px solid black;
  }
  .blogBox {
    background-color: #6600cc;
  }
  .blogBox h1 {
    font-size: 30px;
    border: 20px solid blue;
    text-indent: 30px;
  }
  .blogBox img {
    max-width: 100%;
    height: auto;
    float: left;
  }
  .blogBox p {
    font-size: 35px;
    text-shadow: 2px 2px blue;
  }
  .blogBox img {
    float: left;
    width: 600px;
    height: 600px;
  }
