.thumbsBox {
  width: 50%;
  height: 50%;
  border: 4px solid #000000;
}

.pTop {
  position: absolute;
  top: 0px;
  border: 20px solid #000000;
}

.pBot {
  position: absolute;
  bottom: 0px;
  border: 20px solid #000000;
}

.pLeft {
  position: absolute;
  left: 0px;
  border: 20px solid #000000;
}

.pRight {
  position: absolute;
  right: 0px;
  border: 20px solid #000000;
}

#tUp {
  background-color: #00ff00;
}

#tUp:hover {
  background-color: #007000;
}

#tWiggle {
  background-color: #0000ff;
}

#tWiggle:hover {
  background-color: #000085;
}

#tDown {
  background-color: #ff0000;
}

#tDown:hover {
  background-color: #700000;
}

#tOops {
  background-color: #ffff00;
}

#tOops:hover {
  background-color: #707000;
}

* {
  align-items: center;
  justify-content: center;
  font-size: 100px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
div {
  background-color: white;
}

body {
  background-color: black;
}

#content {
  border: 1px dashed purple;
}

#bodyBox {
  border: 1px solid purple;
  margin: 20px;
}

.paraBox {
  border: 1px solid purple;
  margin: 20px;
  color: purple;
}

h1 {
  border: 1px dashed purple;
}

h1 {
  color: purple;
}
